doctype html
html
    head
        title chatroom
        link(rel="stylesheet", href="/style.css")
    body#chatBody
        nav#nav

            ul
                li

                    a(href="/logout") Logout
                li
                    a(href="/profile") Edit Profile
        table#chat
            script(src="/client.js" type="module")
        div#userInputForm
            form#chatroomForm( method='post' name='chatroomForm')
                input#message

            form#getLink( method='post' name='getLink')
                input(type='button' value="Type Race")
