doctype html
html
    head
        title logout notice
        link(rel="stylesheet", href="/style.css")
        body#chatBody
        nav#nav
            ul
                li
                    a(href="/login") Login
        div
          h1 Goodbye #{userName}
        script(src="/login.js" type="module")
