doctype html
html
    head
        title Registration Form
    body
        form( method='post', action='/handleForm', name='registrationForm')
            table
                tr
                    td Name
                    td
                        input( type='text' name='username', size='30')
                tr
                    td Email
                    td
                        input( type='text' name= 'email' size = '30' )
                tr
                    td Password
                    td
                        input( type='password' name='userpass', size='30' )
                tr
                    td Gender
                    td
                        label Woman
                        input( type='checkbox' value='male' name='gender' )
                        label Man
                        input( type='checkbox' value='female' name='gender' )
                        label Gender Non-Conforming
                        input( type='checkbox' value='genderNonConform' name='gender')
                        label Intersex
                        input( type='checkbox' value='intersex' name='gender')
                        label Tell Us
                        input( type='text' name='gender' size='30')
                        label Or Not
                        input( type='checkbox' name='gender' size='30')
                tr
                    td City
                    td
                        select(name='city')
                            option(value='0')  [-- Tell Us Where You're From --]
                            option(value='Austin')  Austin
                            option(value='San Antonio')  San Antonio
                            option(value='Houston')  Houston
                            option(value='Dallas')  Dallas
                            option(value='Fort Worth')  Fort Worth
                tr
                    td(colspan='2' align='center')
                        input( type='submit', value='Create Profile' )
